<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IImageDownloadService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:9088/ImageDownloadService"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IImageDownloadService"
                contract="ImageDownloadServiceReference.IImageDownloadService"
                name="BasicHttpBinding_IImageDownloadService" />
        </client>
    </system.serviceModel>
</configuration>